<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<script type=""></script>

<dom-module id="check-list">
  <template>
    <style>
      :host {
        display: block;
      }
      .task{
       display: flex;
       align-items: center;
     }
     paper-input{
       display: inline-block;
     }
    </style>
      <h1>Mi todo list</h1>
      <dom-repeat items="{{tasks}}"
      as="task"
      filter="isNotCompleted"
      observe="completed">
        <template is="dom-repeat">
          <div class="todo_elemt">
            <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
            <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
          </div>
        </template>
      </dom-repeat>

      <h3>Completed:</h3>

      <dom-repeat items="{{tasks}}"
      as="task"
      filter="isCompleted"
      observe="completed">
        <template is="dom-repeat">
          <div class="todo_elemt">
            <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
            <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
          </div>
        </template>
      </dom-repeat>

      <paper-button on-click="addTask">Add Task</paper-button>
  </template>

  <script>
    /**
     * `check-list`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CheckList extends Polymer.Element {
      static get is() { return 'check-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'check-list'
          },
          tasks: {
            type: Array,
            value: () => []
          }
        };
      }
      addTask() {
        const newTask = {
          name: 'Otorrinolaringologo',
          completed: false
        };
        // this.tasks.push(newTask);
        this.push('tasks',newTask);
      }
      isNotCompleted(task) {
        return !task.completed;
      }
      isCompleted(task) {
        return task.completed;
      }
      
    }

    window.customElements.define(CheckList.is, CheckList);
  </script>
</dom-module>
